Repository TwinePlatform/twine-monolith, pull requests merged in 2019-05, with the labels that each got.

#45 🔧 compile local modules postinstall
  api/tsconfig.json
  lib/twine-util/package.json
  lib/twine-util/tsconfig.json
Labels: ☁️ app: api

#41 💅 Add date picker
  dashboard-app/package-lock.json
  dashboard-app/package.json
  dashboard-app/src/auth/pages/Login/index.tsx
  dashboard-app/src/components/DataTable/DataTableHeaderRow.tsx
  dashboard-app/src/components/DataTable/DataTableRow.tsx
  dashboard-app/src/components/DataTable/__tests__/index.test.tsx
  dashboard-app/src/components/DataTable/index.tsx
  dashboard-app/src/components/DatePicker/Selector.tsx
  dashboard-app/src/components/DatePicker/index.tsx
  dashboard-app/src/components/DatePicker/styles.css
  dashboard-app/src/components/Label.tsx
  dashboard-app/src/components/Select.tsx
  dashboard-app/src/styles/style_guide.ts
  dashboard-app/src/util/hash.ts
Labels: 📊 app: dashboard

#47 🚚 Duration to twine-util
  api/reporting/reports/volunteer_logs_raw.ts
  api/src/api/v1/community_businesses/volunteer_logs.ts
  api/src/api/v1/users/volunteers/volunteer_logs.ts
  api/src/models/duration.ts
  api/src/models/index.ts
  api/src/models/types.ts
  api/src/models/volunteer_log.ts
  lib/twine-util/__tests__/duration.test.unit.ts
  lib/twine-util/duration.ts
  lib/twine-util/index.ts
Labels: ☁️ app: api

#42 ✨ Add utility bar
  dashboard-app/src/components/Card.tsx
  dashboard-app/src/components/DataTable/DataTableCell.tsx
  dashboard-app/src/components/DataTable/DataTableHeaderRow.tsx
  dashboard-app/src/components/DataTable/index.tsx
  dashboard-app/src/components/DatePicker/index.tsx
  dashboard-app/src/components/Label.tsx
  dashboard-app/src/components/Toggle.tsx
  dashboard-app/src/components/UnitToggle.tsx
  dashboard-app/src/components/UtilityBar.tsx
Labels: 📊 app: dashboard

#52 📊 more dashboard table work
  dashboard-app/src/components/ErrorParagraph.tsx
  dashboard-app/src/dashboard/ByActivity/__tests__/helper.test.ts
  dashboard-app/src/dashboard/ByActivity/helper.ts
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/helper.ts
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/__tests__/helper.test.ts
  dashboard-app/src/dashboard/ByVolunteer/helper.ts
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/dashboard/__tests__/ByActivity.test.ts
  dashboard-app/src/dashboard/__tests__/ByTime.test.ts
  dashboard-app/src/dashboard/__tests__/ByVolunteer.test.ts
  dashboard-app/src/hooks/useRequest.ts
  dashboard-app/src/util/__tests__/dateRange.test.ts
  dashboard-app/src/util/__tests__/months.test.ts
  dashboard-app/src/util/dateRange.ts
  dashboard-app/src/util/hooks/useRequest.ts
  dashboard-app/src/util/months.ts
Labels: 📊 app: dashboard

#55 🔧 run migrations in release phase instead of postbuild
  api/Procfile
  api/package.json
Labels: ☁️ app: api

#44 🔧 fix db seed command
  api/package.json
Labels: ☁️ app: api

#59 🚸 change (non-existent) register link to mailto
  dashboard-app/src/auth/pages/Login/index.tsx
Labels: 📊 app: dashboard

#58 👷‍♀️ Add server checks to Travis build
  api/package.json
  api/tsconfig.json
Labels: ☁️ app: api

#57 📈 Codeclimate
  .travis.yml
  .travis/cc-download.sh
  .travis/cc-report.sh
Labels: ☁️ app: api, ✂️ app: temp-admin, 👣 app: visitor, 📊 app: dashboard, 🙋‍♀️ app: volunteer

#64 ✨ Add navigation elements on Dashboard landing page
  dashboard-app/src/components/Buttons.tsx
  dashboard-app/src/components/Polaroid.tsx
  dashboard-app/src/dashboard/Dashboard.tsx
  dashboard-app/src/dashboard/Dashboard/index.tsx
  dashboard-app/src/dashboard/__tests__/Dashboard.test.ts
  dashboard-app/src/navigation/pages.ts
Labels: 📊 app: dashboard

#65 👷‍♀️ don't skip test coverage reporting on master
  .travis/cc-report.sh
Labels: ☁️ app: api, ✂️ app: temp-admin, 👣 app: visitor, 📊 app: dashboard, 🙋‍♀️ app: volunteer

#60 💄 fix horizontal scrolling issue
  dashboard-app/src/styles/index.css
Labels: 📊 app: dashboard

#69 🐛 fix navbar path matching on path patterns
  dashboard-app/src/navigation/Navbar/index.tsx
  dashboard-app/src/navigation/pages.ts
Labels: 📊 app: dashboard

#71 🐛 add tests on dashboard navigation bug
  dashboard-app/src/navigation/__tests__/pages.test.ts
  dashboard-app/src/navigation/pages.ts
Labels: 📊 app: dashboard

#16 ♻️ Api/email refactor
  api/__mocks__/postmark.ts
  api/src/api/v1/community_businesses/__tests__/register.test.integration.ts
  api/src/api/v1/community_businesses/register.ts
  api/src/api/v1/community_businesses/temporary/__tests__/delete.test.integration.ts
  api/src/api/v1/community_businesses/visitors/__tests__/email.test.integration.ts
  api/src/api/v1/community_businesses/visitors/email.ts
  api/src/api/v1/community_businesses/visitors/get.ts
  api/src/api/v1/types.ts
  api/src/api/v1/users/__tests__/password.test.integration.ts
  api/src/api/v1/users/password.ts
  api/src/api/v1/users/register/__tests__/confirm.test.integration.ts
  api/src/api/v1/users/register/__tests__/visitors.test.integration.ts
  api/src/api/v1/users/register/__tests__/volunteers.test.integration.ts
  api/src/api/v1/users/register/confirm.ts
  api/src/api/v1/users/register/visitors.ts
  api/src/api/v1/users/register/volunteers.ts
  api/src/models/types.ts
  api/src/services/email/__tests__/dispatcher.test.unit.ts
  api/src/services/email/__tests__/index.test.ts
  api/src/services/email/dispatcher.ts
  api/src/services/email/index.ts
  api/src/services/email/templates.ts
  api/src/setup.ts
Labels: ☁️ app: api

#78 🐛 fixed width table & add no data view
  dashboard-app/src/components/DataTable/DataTableHeaderRow.tsx
  dashboard-app/src/components/DataTable/__tests__/index.test.tsx
  dashboard-app/src/components/DataTable/index.tsx
  dashboard-app/src/components/DatePicker/styles.css
Labels: 📊 app: dashboard

#79 🐛 fix default date values
  dashboard-app/src/util/__tests__/months.test.ts
  dashboard-app/src/util/months.ts
Labels: 📊 app: dashboard

#72 ✨ add download to csv functionality
  dashboard-app/package-lock.json
  dashboard-app/package.json
  dashboard-app/src/components/Buttons.tsx
  dashboard-app/src/components/UtilityBar.tsx
  dashboard-app/src/dashboard/ByActivity/__tests__/helper.test.ts
  dashboard-app/src/dashboard/ByActivity/helper.ts
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/__tests__/helper.test.ts
  dashboard-app/src/dashboard/ByTime/helper.ts
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/__tests__/helper.test.ts
  dashboard-app/src/dashboard/ByVolunteer/helper.ts
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/hooks/useCreateAggDataOnRes.ts
  dashboard-app/src/util/dataManipulation/__tests__/aggregateToTableData.test.ts
  dashboard-app/src/util/dataManipulation/__tests__/aggregatedToCsv.test.ts
  dashboard-app/src/util/dataManipulation/__tests__/logsToAggregatedData.test.ts
  dashboard-app/src/util/dataManipulation/aggregatedToCsv.ts
  dashboard-app/src/util/dataManipulation/aggregatedToTableData.ts
  dashboard-app/src/util/dataManipulation/downloadCsv.ts
  dashboard-app/src/util/dataManipulation/logsToAggregatedData.ts
  dashboard-app/src/util/dataManipulation/tableType.ts
  dashboard-app/src/util/months.ts
  dashboard-app/src/util/tableManipulation.ts
Labels: 📊 app: dashboard

#92 ✨ add totals row to data table
  dashboard-app/src/components/DataTable/DataTableTotalsRow.tsx
  dashboard-app/src/components/DataTable/__tests__/index.test.tsx
  dashboard-app/src/components/DataTable/index.tsx
  dashboard-app/src/components/DataTable/types.ts
  dashboard-app/src/components/DataTable/util.ts
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
Labels: 📊 app: dashboard

#91 💄 give clickable elements cursor:pointer
  dashboard-app/src/components/DatePicker/Selector.tsx
  dashboard-app/src/components/Toggle.tsx
Labels: 📊 app: dashboard

#90 ✨ abbreviate months
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/hooks/useAggDataOnRes.ts
  dashboard-app/src/util/__tests__/months.test.ts
  dashboard-app/src/util/dataManipulation/__tests__/aggregateToTableData.test.ts
  dashboard-app/src/util/dataManipulation/__tests__/logsToAggregatedData.test.ts
  dashboard-app/src/util/dataManipulation/aggregatedToTableData.ts
  dashboard-app/src/util/dataManipulation/downloadCsv.ts
  dashboard-app/src/util/dataManipulation/tableType.ts
  dashboard-app/src/util/months.ts
Labels: 📊 app: dashboard

#103 𝒜 amend font sizes
  dashboard-app/src/components/Buttons.tsx
  dashboard-app/src/components/Headings.tsx
  dashboard-app/src/components/Toggle.tsx
  dashboard-app/src/index.tsx
  dashboard-app/src/navigation/Navbar/Link.tsx
  dashboard-app/src/navigation/Navbar/index.tsx
  dashboard-app/src/styles/design_system/fonts.ts
  dashboard-app/src/styles/design_system/index.ts
  dashboard-app/src/styles/design_system/media_queries.ts
  dashboard-app/src/styles/index.css
Labels: 📊 app: dashboard

#106 🐛 fix abbreviated month bug on firefox
  dashboard-app/src/util/dataManipulation/aggregatedToTableData.ts
Labels: 📊 app: dashboard

#104 🍱 add assets to page
  dashboard-app/src/components/Footer.tsx
  dashboard-app/src/components/assets/logo_image.svg
  dashboard-app/src/components/assets/logo_text.svg
  dashboard-app/src/navigation/Navbar/index.tsx
Labels: 📊 app: dashboard

#107 🖋 amend copy
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/util/dataManipulation/__tests__/logsToAggregatedData.test.ts
  dashboard-app/src/util/dataManipulation/logsToAggregatedData.ts
Labels: 📊 app: dashboard

#108 🐛 Add date-picker constraints
  dashboard-app/src/components/DatePicker/index.tsx
  dashboard-app/src/components/DatePicker/types.ts
  dashboard-app/src/components/UtilityBar.tsx
  dashboard-app/src/dashboard/ByActivity/__tests__/datePickerConstraints.test.ts
  dashboard-app/src/dashboard/ByActivity/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByActivity/datePickerConstraints.ts
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/__tests__/datePickerConstraints.test.ts
  dashboard-app/src/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByTime/datePickerConstraints.ts
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/__tests__/datePickerConstraints.test.ts
  dashboard-app/src/dashboard/ByVolunteer/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByVolunteer/datePickerConstraints.ts
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/dashboard/Dashboard/__tests__/index.test.ts
Labels: 📊 app: dashboard

#109 🐛 Match initial sorting with user stories
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/util/dataManipulation/aggregatedToTableData.ts
Labels: 📊 app: dashboard

#112 🐛 fix sorting/rendering issue with tables
  dashboard-app/src/components/DataTable/index.tsx
Labels: 📊 app: dashboard

#116 🗃 replace special character ellipis in volunteer activity
  api/database/data/qa/04_pip_archer_logs.sql
  api/database/migrations/20190524_replace-ellipsis.ts
  api/database/migrations/sql/20190524_replace-ellipsis.sql
  api/src/api/v1/users/volunteers/__tests__/volunteer_logs.test.integration.ts
  api/src/models/__tests__/volunteer_log.test.integration.ts
Labels: ☁️ app: api

#119 🐛 fix default dates on Activity Page
  dashboard-app/src/dashboard/ByActivity/datePickerConstraints.ts
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/datePickerConstraints.ts
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/util/__tests__/months.test.ts
  dashboard-app/src/util/months.ts
Labels: 📊 app: dashboard

#117 🐛 Fix table sorting on unit switch
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/dashboard/dataManipulation/__tests__/aggregatedToCsv.test.ts
  dashboard-app/src/dashboard/dataManipulation/__tests__/aggregatedToTableData.test.ts
  dashboard-app/src/dashboard/dataManipulation/__tests__/logsToAggregatedData.test.ts
  dashboard-app/src/dashboard/dataManipulation/__tests__/util.test.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToCsv.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToTableData.ts
  dashboard-app/src/dashboard/dataManipulation/downloadCsv.ts
  dashboard-app/src/dashboard/dataManipulation/logsToAggregatedData.ts
  dashboard-app/src/dashboard/dataManipulation/tableType.ts
  dashboard-app/src/dashboard/dataManipulation/util.ts
  dashboard-app/src/hooks/useAggDataOnRes.ts
  dashboard-app/src/util/dataManipulation/__tests__/aggregateToTableData.test.ts
  dashboard-app/src/util/dataManipulation/__tests__/aggregatedToCsv.test.ts
  dashboard-app/src/util/dataManipulation/aggregatedToCsv.ts
  dashboard-app/src/util/dataManipulation/aggregatedToTableData.ts
  dashboard-app/src/util/dataManipulation/downloadCsv.ts
  dashboard-app/src/util/dataManipulation/logsToAggregatedData.ts
  lib/twine-util/__tests__/objects.test.ts
  lib/twine-util/duration.ts
  lib/twine-util/objects.ts
Labels: 📊 app: dashboard

#125 🐛 fix nav-bar page order
  dashboard-app/src/navigation/Navbar/index.tsx
  dashboard-app/src/navigation/__tests__/pages.test.ts
  dashboard-app/src/navigation/pages.ts
Labels: 📊 app: dashboard

#129 🐛 fix bug by tracking sorted column by index instead of title
  dashboard-app/src/dashboard/ByActivity/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
Labels: 📊 app: dashboard

#134 🐛 quick fix date-picker bug
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
Labels: 📊 app: dashboard

#136 🔧 make pool limit configurable via env var
  api/config/config.production.ts
  api/config/util.ts
Labels: ☁️ app: api, 👣 app: visitor

#137 🐛 limit concurrent queries by replacing Promise.all with Promises.series
  api/src/models/visitor.ts
  lib/twine-util/__tests__/promises.test.ts
  lib/twine-util/promises.ts
Labels: ☁️ app: api, 👣 app: visitor
