Repository TwinePlatform/twine-monolith, pull requests merged in 2019-06, with the labels that each got.

#139 📊 display customised graphs in tabs
  dashboard-app/package-lock.json
  dashboard-app/package.json
  dashboard-app/src/components/ErrorParagraph.tsx
  dashboard-app/src/components/Errors.tsx
  dashboard-app/src/components/StackedBarChart/index.tsx
  dashboard-app/src/components/StackedBarChart/util.ts
  dashboard-app/src/components/Tabs/TabGroup.tsx
  dashboard-app/src/components/Toggle.tsx
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/TimeTabs.tsx
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/VolunteerTabs.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/dashboard/dataManipulation/__tests__/aggregatedToCsv.test.ts
  dashboard-app/src/dashboard/dataManipulation/__tests__/aggregatedToGraphData.test.ts
  dashboard-app/src/dashboard/dataManipulation/__tests__/util.test.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToCsv.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToGraphData.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToTableData.ts
  dashboard-app/src/dashboard/dataManipulation/util.ts
  dashboard-app/src/util/months.ts
Labels: 📊 app: dashboard

#140 ♻️ Hooks refactor
  dashboard-app/package-lock.json
  dashboard-app/package.json
  dashboard-app/src/api/index.ts
  dashboard-app/src/dashboard/ByActivity/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/TimeTabs.tsx
  dashboard-app/src/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/VolunteerTabs.tsx
  dashboard-app/src/dashboard/ByVolunteer/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/dashboard/__data__/api_data.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToTableData.ts
  dashboard-app/src/dashboard/dataManipulation/downloadCsv.ts
  dashboard-app/src/dashboard/dataManipulation/logsToAggregatedData.ts
  dashboard-app/src/dashboard/hooks/useAggregateDataByActivity.ts
  dashboard-app/src/dashboard/hooks/useAggregateDataByTime.ts
  dashboard-app/src/dashboard/hooks/useAggregateDataByVolunteer.ts
  dashboard-app/src/hooks/index.ts
  dashboard-app/src/hooks/useBatchRequest.ts
  dashboard-app/src/hooks/useRequest.ts
Labels: 📊 app: dashboard

#142 🐛 Minor fixes for dashboard charts
  dashboard-app/src/components/Errors.tsx
  dashboard-app/src/components/StackedBarChart/index.tsx
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/dashboard/hooks/useAggregateDataByActivity.ts
  dashboard-app/src/dashboard/hooks/useAggregateDataByTime.ts
  dashboard-app/src/dashboard/hooks/useAggregateDataByVolunteer.ts
  dashboard-app/src/util/months.ts
Labels: 📊 app: dashboard

#144 📜 add single file to run all CBE reports
  api/reporting/reports/cb_engagement/index.ts
Labels: ☁️ app: api

#143 📊 Custom legend
  dashboard-app/package-lock.json
  dashboard-app/package.json
  dashboard-app/src/auth/pages/Login/index.tsx
  dashboard-app/src/components/Buttons.tsx
  dashboard-app/src/components/Headings.tsx
  dashboard-app/src/components/StackedBarChart/Chart.tsx
  dashboard-app/src/components/StackedBarChart/Legend/LegendItem.tsx
  dashboard-app/src/components/StackedBarChart/Legend/index.tsx
  dashboard-app/src/components/StackedBarChart/index.tsx
  dashboard-app/src/components/StackedBarChart/types.ts
  dashboard-app/src/components/StackedBarChart/utils/__tests__/index.test.ts
  dashboard-app/src/components/StackedBarChart/utils/chartjsUtils.ts
  dashboard-app/src/components/StackedBarChart/utils/util.ts
  dashboard-app/src/components/Tabs/TabList.tsx
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/TimeTabs.tsx
  dashboard-app/src/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/VolunteerTabs.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/dashboard/dataManipulation/__tests__/aggregatedToCsv.test.ts
  dashboard-app/src/dashboard/dataManipulation/__tests__/aggregatedToGraphData.test.ts
  dashboard-app/src/dashboard/dataManipulation/__tests__/aggregatedToTableData.test.ts
  dashboard-app/src/dashboard/dataManipulation/__tests__/logsToAggregatedData.test.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToCsv.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToGraphData.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToTableData.ts
  dashboard-app/src/dashboard/dataManipulation/logsToAggregatedData.ts
  dashboard-app/src/dashboard/dataManipulation/tableType.ts
  dashboard-app/src/dashboard/dataManipulation/util.ts
  dashboard-app/src/dashboard/hooks/useAggregateDataByActivity.ts
  dashboard-app/src/dashboard/hooks/useAggregateDataByTime.ts
  dashboard-app/src/dashboard/hooks/useAggregateDataByVolunteer.ts
  dashboard-app/src/hooks/useAggDataOnRes.ts
Labels: 📊 app: dashboard

#150 Dash/fix csv order
  dashboard-app/src/components/UtilityBar.tsx
  dashboard-app/src/dashboard/dataManipulation/__tests__/aggregatedToCsv.test.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToCsv.ts
Labels: 📊 app: dashboard

#152 💅 fix styling of util bar
  dashboard-app/src/components/Tabs/TabGroup.tsx
  dashboard-app/src/components/UtilityBar.tsx
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
Labels: 📊 app: dashboard

#145 💄 Add bar chart with rounded tops
  dashboard-app/src/components/StackedBarChart/Chart.tsx
  dashboard-app/src/components/StackedBarChart/RoundedBar/Rectangles.ts
  dashboard-app/src/components/StackedBarChart/RoundedBar/RoundedBarChart.ts
  dashboard-app/src/components/StackedBarChart/RoundedBar/__tests__/Rectangles.test.ts
  dashboard-app/src/components/StackedBarChart/RoundedBar/__tests__/RoundedBarChart.test.ts
  dashboard-app/src/components/StackedBarChart/RoundedBar/index.tsx
  dashboard-app/src/components/StackedBarChart/index.tsx
  dashboard-app/src/components/StackedBarChart/utils/chartjsUtils.ts
  dashboard-app/src/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByVolunteer/__tests__/index.test.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToGraphData.ts
Labels: 📊 app: dashboard

#156 💄 fix notification bar layout
  dashboard-app/src/auth/pages/Login/index.tsx
Labels: 📊 app: dashboard

#158 🐛 fix legend data creation
  dashboard-app/src/components/StackedBarChart/index.tsx
  dashboard-app/src/components/StackedBarChart/utils/__tests__/index.test.ts
  dashboard-app/src/components/StackedBarChart/utils/util.ts
  dashboard-app/src/dashboard/ByTime/TimeTabs.tsx
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/VolunteerTabs.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/dashboard/hooks/useAggregateDataByTime.ts
  dashboard-app/src/dashboard/hooks/useAggregateDataByVolunteer.ts
Labels: 📊 app: dashboard

#159 ✨ add no data view to dashboard charts
  dashboard-app/src/components/DataTable/index.tsx
  dashboard-app/src/components/StackedBarChart/Chart.tsx
  dashboard-app/src/components/StackedBarChart/Legend/index.tsx
  dashboard-app/src/components/StackedBarChart/index.tsx
  dashboard-app/src/dashboard/ByTime/TimeTabs.tsx
Labels: 📊 app: dashboard

#176 👤 make date format more consistent
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/dashboard/dataManipulation/__tests__/aggregatedToTableData.test.ts
  dashboard-app/src/dashboard/dataManipulation/__tests__/util.test.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToGraphData.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToTableData.ts
  dashboard-app/src/dashboard/util.ts
  dashboard-app/src/util/months.ts
Labels: 📊 app: dashboard

#175 📊 display message on deselect of all legend items
  dashboard-app/src/components/DataTable/index.tsx
  dashboard-app/src/components/FullWidthTextBox.tsx
  dashboard-app/src/components/StackedBarChart/Chart.tsx
  dashboard-app/src/components/StackedBarChart/index.tsx
Labels: 📊 app: dashboard

#179 ✨ Add secondary sorting to DataTable
  dashboard-app/src/components/DataTable/__tests__/index.test.tsx
  dashboard-app/src/components/DataTable/index.tsx
  dashboard-app/src/components/DataTable/types.ts
  lib/twine-util/__tests__/arrays.test.ts
  lib/twine-util/__tests__/duration.test.ts
  lib/twine-util/arrays.ts
  lib/twine-util/index.ts
Labels: 📊 app: dashboard

#180 🐛 Add specifc CSV error msg when data is empty
  dashboard-app/src/components/Errors.tsx
  dashboard-app/src/dashboard/dataManipulation/__tests__/downloadCsv.test.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToCsv.ts
  dashboard-app/src/dashboard/dataManipulation/downloadCsv.ts
  dashboard-app/src/dashboard/dataManipulation/logsToAggregatedData.ts
Labels: 📊 app: dashboard

#182 📊 customise tooltip
  dashboard-app/src/components/StackedBarChart/Chart.tsx
  dashboard-app/src/components/StackedBarChart/RoundedBar/index.tsx
  dashboard-app/src/components/StackedBarChart/RoundedBar/tooltipCenter.ts
  dashboard-app/src/components/StackedBarChart/index.tsx
  dashboard-app/src/components/StackedBarChart/utils/chartjsUtils.ts
  dashboard-app/src/styles/design_system/colours.ts
Labels: 📊 app: dashboard

#181 ♻️ move legend state to page component
  dashboard-app/src/components/StackedBarChart/index.tsx
  dashboard-app/src/dashboard/ByTime/TimeTabs.tsx
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/VolunteerTabs.tsx
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
Labels: 📊 app: dashboard

#186 📊 reverse order of stack in stacked bar chart
  dashboard-app/src/dashboard/dataManipulation/__tests__/aggregatedToGraphData.test.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToGraphData.ts
Labels: 📊 app: dashboard

#185 🐛 use custom hook to ensure error messages are cleared
  dashboard-app/src/dashboard/ByActivity/index.tsx
  dashboard-app/src/dashboard/ByActivity/useAggregateDataByActivity.ts
  dashboard-app/src/dashboard/ByTime/index.tsx
  dashboard-app/src/dashboard/ByTime/useAggregateDataByTime.ts
  dashboard-app/src/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/dashboard/ByVolunteer/useAggregateDataByVolunteer.ts
  dashboard-app/src/dashboard/dataManipulation/aggregatedToGraphData.ts
  dashboard-app/src/hooks/useErrors.ts
  dashboard-app/src/hooks/useResettableState.ts
Labels: 📊 app: dashboard

#194 👆🏽 rename download button
  dashboard-app/src/components/UtilityBar.tsx
Labels: 📊 app: dashboard

#195 ⬆️ upgrade date-picker to fix bug
  dashboard-app/package-lock.json
  dashboard-app/package.json
  dashboard-app/src/components/UtilityBar.tsx
Labels: 📊 app: dashboard

#196 💅 improve TabGroup styling
  dashboard-app/src/components/Tabs/TabList.tsx
  dashboard-app/src/components/Tabs/TabListItem.tsx
Labels: 📊 app: dashboard

#197 𝒜 resize fonts n padding
  dashboard-app/src/components/DatePicker/Selector.tsx
  dashboard-app/src/components/Headings.tsx
  dashboard-app/src/components/StackedBarChart/Legend/LegendItem.tsx
  dashboard-app/src/components/StackedBarChart/Legend/index.tsx
  dashboard-app/src/navigation/Navbar/index.tsx
  dashboard-app/src/styles/design_system/media_queries.ts
  dashboard-app/src/styles/index.css
Labels: 📊 app: dashboard

#160 ⬆️ update dependencies
  api/bin/clone_db.ts
  api/database/index.ts
  api/package-lock.json
  api/package.json
  api/reporting/reports/cb_engagement/active_visitors_proportion.ts
  api/reporting/reports/cb_engagement/active_visitors_total.ts
  api/reporting/reports/cb_engagement/active_volunteers_proportion.ts
  api/reporting/reports/cb_engagement/active_volunteers_total.ts
  api/reporting/reports/cb_engagement/overview.ts
  api/reporting/reports/cb_engagement/visit_logs.ts
  api/reporting/reports/cb_engagement/volunteer_logs.ts
  api/reporting/reports/volunteer_logs_raw.ts
  api/src/api/v1/community_businesses/__tests__/feedback.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/volunteer_logs.test.integration.ts
  api/src/api/v1/community_businesses/temporary/__tests__/password_reset.test.integration.ts
  api/src/api/v1/community_businesses/volunteers/__tests__/projects.test.integration.ts
  api/src/api/v1/constants/__tests__/index.test.integration.ts
  api/src/api/v1/prerequisites/__tests__/get_organisation.test.inegration.ts
  api/src/api/v1/user_logs/__tests__/visit_logs.test.integration.ts
  api/src/api/v1/user_logs/__tests__/volunteer_logs.test.integration.ts
  api/src/api/v1/users/register/visitors.ts
  api/src/api/v1/users/volunteers/__tests__/volunteer_logs.test.integration.ts
  api/src/index.ts
  api/src/models/__tests__/community_business.test.integration.ts
  api/src/models/__tests__/role.test.integration.ts
  api/src/models/community_business.ts
  api/src/models/role.ts
  api/src/models/volunteer_log.ts
  api/src/services/logger/serializers.ts
  dashboard-app/package-lock.json
  dashboard-app/package.json
  dashboard-app/src/api/index.ts
  lib/tslint-config-twine/package-lock.json
  lib/tslint-config-twine/package.json
  lib/twine-util/__tests__/string.test.ts
  lib/twine-util/string.ts
Labels: ☁️ app: api, 📊 app: dashboard
