Repository TwinePlatform/twine-monolith, pull requests merged in 2019-10, with the labels that each got.

#337 🐛 add --if-exists flag to pg_restore command
  api/bin/clone_db.ts
Labels: ☁️ app: api

#336 📊 User session reports
  api/package-lock.json
  api/package.json
  api/reporting/reports/user_sessions/raw.ts
Labels: ☁️ app: api

#339 🚑 fix type issue
  api/src/api/v1/types/api.ts
  api/src/models/types.ts
Labels: ☁️ app: api

#334 ♻️ force failure in pre-reqs to avoid having to manually fail in…
  api/src/api/v1/community_businesses/cb_admins/__tests__/get.test.integration.ts
  api/src/api/v1/community_businesses/cb_admins/get.ts
  api/src/api/v1/community_businesses/feedback.ts
  api/src/api/v1/community_businesses/get.ts
  api/src/api/v1/community_businesses/put.ts
  api/src/api/v1/community_businesses/register.ts
  api/src/api/v1/community_businesses/temporary/delete.ts
  api/src/api/v1/community_businesses/temporary/get.ts
  api/src/api/v1/community_businesses/temporary/password_reset.ts
  api/src/api/v1/community_businesses/temporary/register.ts
  api/src/api/v1/community_businesses/visit_activities.ts
  api/src/api/v1/community_businesses/visitors/email.ts
  api/src/api/v1/community_businesses/visitors/get.ts
  api/src/api/v1/community_businesses/visitors/put.ts
  api/src/api/v1/prerequisites/get_organisation.ts
  api/src/api/v1/prerequisites/index.ts
  api/src/api/v1/prerequisites/is_child_organisation.ts
  api/src/api/v1/prerequisites/is_child_user.ts
  api/src/api/v1/prerequisites/is_parent_organisation.ts
  api/src/api/v1/prerequisites/require_child_organisation.ts
  api/src/api/v1/prerequisites/require_child_user.ts
  api/src/api/v1/prerequisites/require_parent_organisation.ts
  api/src/api/v1/users/put.ts
  api/src/api/v1/users/volunteers/delete.ts
  api/src/api/v1/users/volunteers/get.ts
  api/src/api/v1/users/volunteers/put.ts
Labels: ☁️ app: api

#332 ✨ Allow registration of under 13s
  api/src/api/v1/types.ts
  api/src/api/v1/types/api.ts
  api/src/api/v1/users/register/__tests__/visitors.test.integration.ts
  api/src/api/v1/users/register/visitors.ts
  api/src/models/__tests__/user.test.integration.ts
  api/src/models/types.ts
  api/src/models/user.ts
  visitor-app/src/App.js
  visitor-app/src/api/index.js
  visitor-app/src/cb_admin/components/Checkbox.js
  visitor-app/src/cb_admin/constants/error_text.js
  visitor-app/src/cb_admin/index.js
  visitor-app/src/cb_admin/pages/Activities.js
  visitor-app/src/cb_admin/pages/AnonUser/CreateAnonUserForm.js
  visitor-app/src/cb_admin/pages/AnonUser/PrintOption.js
  visitor-app/src/cb_admin/pages/AnonUser/index.js
  visitor-app/src/cb_admin/pages/Dashboard.js
  visitor-app/src/cb_admin/pages/RegisterU13.js
  visitor-app/src/cb_admin/pages/Visitor.js
  visitor-app/src/cb_admin/pages/__tests__/AnonUser.test.js
  visitor-app/src/cb_admin/pages/__tests__/Dashboard.test.js
  visitor-app/src/cb_admin/pages/__tests__/RegisterU13.test.js
  visitor-app/src/index.js
  visitor-app/src/shared/components/Container.js
  visitor-app/src/shared/components/DisplayQrCode/PrintableQrCode.js
  visitor-app/src/shared/components/DisplayQrCode/index.js
  visitor-app/src/shared/components/Dots.js
  visitor-app/src/shared/components/InternalServerError.js
  visitor-app/src/shared/components/NotFound.js
  visitor-app/src/shared/components/RegisterVisitor/AgeCheck.js
  visitor-app/src/shared/components/RegisterVisitor/SideCopy.js
  visitor-app/src/shared/components/RegisterVisitor/buttons.js
  visitor-app/src/shared/components/RegisterVisitor/copy.json
  visitor-app/src/shared/components/RegisterVisitor/index.js
  visitor-app/src/shared/components/form/Checkbox.js
  visitor-app/src/shared/components/form/StyledLabelledCheckbox.js
  visitor-app/src/shared/components/form/index.js
  visitor-app/src/shared/components/form/withValidation.js
  visitor-app/src/shared/components/hoc/withRegistration.js
  visitor-app/src/shared/components/text/base.js
  visitor-app/src/shared/constants.js
  visitor-app/src/shared/pages/Error.js
  visitor-app/src/styles/index.css
  visitor-app/src/util.js
  visitor-app/src/visitors/index.js
  visitor-app/src/visitors/pages/SignUp.js
  visitor-app/src/visitors/pages/SignUp/SignUpForm/SideCopy.js
  visitor-app/src/visitors/pages/SignUp/SignUpForm/index.js
  visitor-app/src/visitors/pages/SignUp/index.js
Labels: 👣 app: visitor

#333 😱 fix travis & coverage config
  .travis.yml
  .travis/cc-report.sh
  .travis/cc_download.sh
  .travis/cc_report.sh
  .travis/cc_upload.sh
  .travis/normalise_paths.js
  api/package-lock.json
  api/package.json
  api/src/api/v1/community_businesses/register.ts
  api/src/api/v1/types/api.ts
  api/src/api/v1/user_logs/visit_logs.ts
  api/src/api/v1/user_logs/volunteer_logs.ts
  api/src/api/v1/users/__tests__/get.test.integration.ts
  api/src/api/v1/users/register/__tests__/visitors.test.integration.ts
  api/src/services/pdf/templates/visitor_qr_code.ts
  api/tsconfig.json
Labels: 🏗 app: infrastructure

#347 🐛 fix on-hover bug
  dashboard-app/src/features/dashboard/components/StackedBarChart/Chart.tsx
Labels: 📊 app: dashboard

#348 👷🏻‍♀️ add nativeApp matrix for trav
  .travis.yml
  api/config/__tests__/index.test.ts
Labels: 🏗 app: infrastructure

#345 ♻️ extract serialisers from models
  api/src/api/v1/community_businesses/cb_admins/get.ts
  api/src/api/v1/community_businesses/get.ts
  api/src/api/v1/community_businesses/put.ts
  api/src/api/v1/community_businesses/register.ts
  api/src/api/v1/community_businesses/visitors/get.ts
  api/src/api/v1/community_businesses/visitors/put.ts
  api/src/api/v1/community_businesses/volunteer_logs.ts
  api/src/api/v1/community_businesses/volunteers/get.ts
  api/src/api/v1/serialisers/__tests__/community_business.test.ts
  api/src/api/v1/serialisers/__tests__/user.test.ts
  api/src/api/v1/serialisers/__tests__/visitor.test.ts
  api/src/api/v1/serialisers/__tests__/volunteer.test.ts
  api/src/api/v1/serialisers/__tests__/volunteer_log.test.ts
  api/src/api/v1/serialisers/community_business.ts
  api/src/api/v1/serialisers/index.ts
  api/src/api/v1/serialisers/user.ts
  api/src/api/v1/serialisers/visitor.ts
  api/src/api/v1/serialisers/volunteer.ts
  api/src/api/v1/serialisers/volunteer_log.ts
  api/src/api/v1/types/api.ts
  api/src/api/v1/user_logs/volunteer_logs.ts
  api/src/api/v1/users/get.ts
  api/src/api/v1/users/put.ts
  api/src/api/v1/users/register/confirm.ts
  api/src/api/v1/users/register/visitors.ts
  api/src/api/v1/users/register/volunteers.ts
  api/src/api/v1/users/visitors/search.ts
  api/src/api/v1/users/volunteers/get.ts
  api/src/api/v1/users/volunteers/put.ts
  api/src/api/v1/users/volunteers/volunteer_logs.ts
  api/src/models/__tests__/cb_admin.test.integration.ts
  api/src/models/__tests__/community_business.test.integration.ts
  api/src/models/__tests__/organisation.test.integration.ts
  api/src/models/__tests__/user.test.integration.ts
  api/src/models/__tests__/visitor.test.integration.ts
  api/src/models/__tests__/volunteer.test.integration.ts
  api/src/models/__tests__/volunteer_log.test.integration.ts
  api/src/models/cb_admin.ts
  api/src/models/community_business.ts
  api/src/models/organisation.ts
  api/src/models/types.ts
  api/src/models/user.ts
  api/src/models/visitor.ts
  api/src/models/volunteer.ts
  api/src/models/volunteer_log.ts
  api/tests/utils/factory.ts
Labels: ☁️ app: api

#342 📱 Native app - Volunteer side styles
  nativeApp/.eslintrc
  nativeApp/App.tsx
  nativeApp/bin/touch_tsx/index.ts
  nativeApp/bin/touch_tsx/template.ts
  nativeApp/package-lock.json
  nativeApp/package.json
  nativeApp/src/lib/api.ts
  nativeApp/src/lib/hooks/requestHook.ts
  nativeApp/src/lib/ui/TimeCard/index.tsx
  nativeApp/src/lib/ui/colours.ts
  nativeApp/src/lib/ui/forms/ButtonWithInlineLabel.tsx
  nativeApp/src/lib/ui/forms/Dropdown.tsx
  nativeApp/src/lib/ui/forms/InputWithIcon.tsx
  nativeApp/src/lib/ui/forms/InputWithInlineLabel.tsx
  nativeApp/src/lib/ui/forms/Toggle.tsx
  nativeApp/src/lib/ui/forms/enums.ts
  nativeApp/src/lib/ui/forms/input.tsx
  nativeApp/src/lib/ui/typography.tsx
  nativeApp/src/open_views/screens/ForgotPassword/index.tsx
  nativeApp/src/open_views/screens/Login/index.tsx
  nativeApp/src/open_views/screens/Register/index.tsx
  nativeApp/src/open_views/screens/__tests__/Login.test.ts
  nativeApp/src/volunteer_views/VolunteerRouter.tsx
  nativeApp/src/volunteer_views/screens/Settings/TermsAndConditions.tsx
  nativeApp/src/volunteer_views/screens/Settings/index.tsx
  nativeApp/src/volunteer_views/screens/Time/index.tsx
  nativeApp/src/volunteer_views/screens/VolunteerHome/Stat.tsx
  nativeApp/src/volunteer_views/screens/VolunteerHome/index.tsx
Labels: 🙋‍♀️ app: volunteer

#352 📱Native app - admin pages
  nativeApp/App.tsx
  nativeApp/src/lib/ui/CardWithButtons/Buttons.tsx
  nativeApp/src/lib/ui/CardWithButtons/index.tsx
  nativeApp/src/lib/ui/CardWithTitleAndDate.tsx
  nativeApp/src/lib/ui/Stat.tsx
  nativeApp/src/lib/ui/Tabs.tsx
  nativeApp/src/lib/ui/TimeCard/index.tsx
  nativeApp/src/lib/ui/forms/Dropdown.tsx
  nativeApp/src/lib/ui/typography.tsx
  nativeApp/src/screens/admin_views/AdminHome/index.tsx
  nativeApp/src/screens/admin_views/AdminRouter.tsx
  nativeApp/src/screens/admin_views/AdminTime/index.tsx
  nativeApp/src/screens/admin_views/Projects/index.tsx
  nativeApp/src/screens/admin_views/Settings/index.tsx
  nativeApp/src/screens/admin_views/Volunteers/index.tsx
  nativeApp/src/screens/open_views/ForgotPassword/index.tsx
  nativeApp/src/screens/open_views/Login/index.tsx
  nativeApp/src/screens/open_views/Register/index.tsx
  nativeApp/src/screens/open_views/__tests__/Login.test.ts
  nativeApp/src/screens/volunteer_views/Settings/TermsAndConditions.tsx
  nativeApp/src/screens/volunteer_views/Settings/index.tsx
  nativeApp/src/screens/volunteer_views/Time/index.tsx
  nativeApp/src/screens/volunteer_views/VolunteerHome/index.tsx
  nativeApp/src/screens/volunteer_views/VolunteerRouter.tsx
  nativeApp/src/volunteer_views/VolunteerRouter.tsx
  nativeApp/src/volunteer_views/screens/Settings/index.tsx
Labels: 🙋‍♀️ app: volunteer

#354 🐛 fix bug in projects tests and updateProject method
  api/src/api/v1/community_businesses/volunteers/__tests__/projects.test.integration.ts
  api/src/models/volunteer_log.ts
Labels: ☁️ app: api, 🐛 bug

#355 📱 navigation/style changes & Add Time
  nativeApp/App.tsx
  nativeApp/package-lock.json
  nativeApp/package.json
  nativeApp/src/lib/hooks/useVisibility.ts
  nativeApp/src/lib/ui/CardWithButtons/index.tsx
  nativeApp/src/lib/ui/CardWithTitleAndDate.tsx
  nativeApp/src/lib/ui/HoursAndMinutesText.tsx
  nativeApp/src/lib/ui/SettingsButton.tsx
  nativeApp/src/lib/ui/TimeCard/index.tsx
  nativeApp/src/lib/ui/colours.ts
  nativeApp/src/lib/ui/forms/DateTimePicker/index.tsx
  nativeApp/src/lib/ui/forms/Dropdown.tsx
  nativeApp/src/lib/ui/forms/SubmitButton.tsx
  nativeApp/src/lib/ui/typography.tsx
  nativeApp/src/lib/utils/__tests__/time.test.ts
  nativeApp/src/lib/utils/time.ts
  nativeApp/src/screens/admin_views/AddTime/index.tsx
  nativeApp/src/screens/admin_views/AdminRouter.tsx
  nativeApp/src/screens/admin_views/Projects/ProjectCard.tsx
  nativeApp/src/screens/admin_views/Projects/index.tsx
  nativeApp/src/screens/admin_views/Settings/index.tsx
  nativeApp/src/screens/admin_views/Volunteers/VolunteerCard.tsx
  nativeApp/src/screens/admin_views/Volunteers/index.tsx
  nativeApp/src/screens/open_views/Login/index.tsx
  nativeApp/src/screens/volunteer_views/AddTime/index.tsx
  nativeApp/src/screens/volunteer_views/Settings/index.tsx
  nativeApp/src/screens/volunteer_views/VolunteerRouter.tsx
Labels: 🙋‍♀️ app: volunteer

#366 💅 hopefully final UI changes
  nativeApp/package.json
  nativeApp/src/lib/ui/AddBar.tsx
  nativeApp/src/lib/ui/Page.tsx
  nativeApp/src/lib/ui/Tabs.tsx
  nativeApp/src/lib/ui/TimeCard/index.tsx
  nativeApp/src/lib/ui/modals/ConfirmationModal.tsx
  nativeApp/src/lib/ui/typography.tsx
  nativeApp/src/screens/admin_views/AdminTime/AdminTimePage/index.tsx
  nativeApp/src/screens/admin_views/Projects/ProjectCard.tsx
  nativeApp/src/screens/admin_views/Projects/index.tsx
  nativeApp/src/screens/admin_views/Volunteers/AddVolunteer/index.tsx
  nativeApp/src/screens/admin_views/Volunteers/VolunteersPage/VolunteerCard.tsx
  nativeApp/src/screens/admin_views/Volunteers/VolunteersPage/index.tsx
Labels: 🙋‍♀️ app: volunteer

#369 ⬆️ update expo sdk
  nativeApp/app.json
  nativeApp/package-lock.json
  nativeApp/package.json
Labels: 🙋‍♀️ app: volunteer

#372 Fix/postcode req
  api/src/api/v1/users/register/__tests__/visitors.test.integration.ts
  api/src/api/v1/users/register/visitors.ts
  visitor-app/src/shared/components/RegisterVisitor/index.js
Labels: 1️⃣ priority-1
