Repository TwinePlatform/twine-monolith, pull requests merged in 2019-04, with the labels that each got.

#5 🔥 remove bower and gulp, update jest and eslint
  volunteer-app/bower.json
  volunteer-app/gulpfile.js
  volunteer-app/ionic.config.json
  volunteer-app/package-lock.json
  volunteer-app/package.json
Labels: 🙋‍♀️ app: volunteer

#4 🔧 update config files
  .gitignore
  .mailmap
  api/.codecov.yml
  api/.travis.yml
  dashboard-app/.codecov.yml
  dashboard-app/.gitignore
  dashboard-app/.travis.yml
  dashboard-app/app.json
  packages/tslint-config-twine/.gitignore
  temp-admin-dashboard-app/.gitignore
  visitor-app/.github/PULL_REQUEST_TEMPLATE.md
  visitor-app/.gitignore
  visitor-app/.travis.yml
Labels: ☁️ app: api, ✂️ app: temp-admin, 👣 app: visitor, 📊 app: dashboard, 🙋‍♀️ app: volunteer

#3 🚀 DEPLOYMENT [VISITOR] 08-04-19
  visitor-app/src/App.js
  visitor-app/src/api/index.js
  visitor-app/src/cb_admin/pages/ConfirmPassword.js
  visitor-app/src/confirm_role/pages/ConfirmRole.js
  volunteer-app/platforms/platforms.json
  volunteer-app/scss/plugins/_animate.css
  volunteer-app/www/cordova-files/plugins/cordova-plugin-console/www/console-via-logger.js
  volunteer-app/www/cordova-files/plugins/cordova-plugin-console/www/logger.js
  volunteer-app/www/cordova-files/plugins/cordova-plugin-device/www/device.js
  volunteer-app/www/cordova-files/plugins/cordova-plugin-geofence/www/TransitionType.js
  volunteer-app/www/cordova-files/plugins/cordova-plugin-geofence/www/geofence.js
  volunteer-app/www/cordova-files/plugins/cordova-plugin-inappbrowser/www/inappbrowser.js
  volunteer-app/www/cordova-files/plugins/cordova-plugin-network-information/www/Connection.js
  volunteer-app/www/cordova-files/plugins/cordova-plugin-network-information/www/network.js
  volunteer-app/www/cordova-files/plugins/cordova-plugin-splashscreen/www/splashscreen.js
  volunteer-app/www/cordova-files/plugins/cordova-plugin-statusbar/www/statusbar.js
  volunteer-app/www/cordova-files/plugins/es6-promise-plugin/www/promise.js
  volunteer-app/www/cordova-files/plugins/ionic-plugin-keyboard/www/ios/keyboard.js
Labels: 👣 app: visitor

#9 🐛 vol_admin cannot have two roles
  api/src/api/v1/users/register/__tests__/visitors.test.integration.ts
  api/src/api/v1/users/register/visitors.ts
Labels: ☁️ app: api

#10 🐛 fix confirm role redirect
  visitor-app/src/confirm_role/pages/ConfirmRole.js
  visitor-app/src/shared/components/form/base.js
Labels: 👣 app: visitor

#11 ♻️ tidy models
  api/bin/create_pwd_reset_token.ts
  api/bin/create_user.ts
  api/bin/edit_user_role.ts
  api/reporting/reports/volunteer_logs_raw.ts
  api/src/api/v1/community_businesses/__tests__/register.test.integration.ts
  api/src/api/v1/community_businesses/register.ts
  api/src/api/v1/community_businesses/temporary/__tests__/delete.test.integration.ts
  api/src/api/v1/community_businesses/visit_logs.ts
  api/src/api/v1/community_businesses/volunteer_logs.ts
  api/src/api/v1/community_businesses/volunteers/__tests__/get.test.integration.ts
  api/src/api/v1/prerequisites/__tests__/is_child_organisation.test.integration.ts
  api/src/api/v1/prerequisites/__tests__/is_child_user.test.integration.ts
  api/src/api/v1/prerequisites/__tests__/is_parent_organisation.test.integration.ts
  api/src/api/v1/prerequisites/__tests__/require_sibling_user.test.integration.ts
  api/src/api/v1/prerequisites/is_child_organisation.ts
  api/src/api/v1/prerequisites/is_child_user.ts
  api/src/api/v1/prerequisites/is_parent_organisation.ts
  api/src/api/v1/prerequisites/require_sibling_user.ts
  api/src/api/v1/types.ts
  api/src/api/v1/user_logs/__tests__/visit_logs.test.integration.ts
  api/src/api/v1/user_logs/__tests__/volunteer_logs.test.integration.ts
  api/src/api/v1/users/login.ts
  api/src/api/v1/users/password.ts
  api/src/api/v1/users/register/__tests__/confirm.test.integration.ts
  api/src/api/v1/users/register/__tests__/visitors.test.integration.ts
  api/src/api/v1/users/register/__tests__/volunteers.test.integration.ts
  api/src/api/v1/users/register/confirm.ts
  api/src/api/v1/users/register/visitors.ts
  api/src/api/v1/users/register/volunteers.ts
  api/src/auth/index.ts
  api/src/auth/strategies/standard/types.ts
  api/src/auth/strategies/standard/validate.ts
  api/src/auth/types.ts
  api/src/models/__tests__/cb_admin.test.integration.ts
  api/src/models/__tests__/community_business.test.integration.ts
  api/src/models/__tests__/permission.test.integration.ts
  api/src/models/__tests__/role.test.integration.ts
  api/src/models/__tests__/token.test.integration.ts
  api/src/models/__tests__/user.test.integration.ts
  api/src/models/__tests__/visitor.test.integration.ts
  api/src/models/__tests__/volunteer.test.integration.ts
  api/src/models/cb_admin.ts
  api/src/models/permission.ts
  api/src/models/role.ts
  api/src/models/token.ts
  api/src/models/types.ts
  api/src/models/user.ts
  api/src/models/visitor.ts
  api/src/models/volunteer.ts
  api/src/models/volunteer_log.ts
Labels: ☁️ app: api

#14 🔧 update config
  api/config/__tests__/index.test.ts
  api/config/config.defaults.ts
  api/config/config.production.ts
  api/config/config.schema.ts
  api/config/config.staging.ts
  api/config/index.ts
  api/config/types.ts
  api/config/util.ts
  api/docs/configuration.md
Labels: ☁️ app: api

#18 🐛 add empty gulpfile
  volunteer-app/gulpfile.js
Labels: 🙋‍♀️ app: volunteer

#17 © add volunteer activity
  api/database/migrations/20190412_add_vol_activity.ts
  api/database/migrations/sql/20190412_add_vol_activity.sql
Labels: ☁️ app: api

#19 🔧 specify NODE_ENV for dev script and update docs
  api/docs/configuration.md
  api/package.json
Labels: ☁️ app: api

#13 ✨ Utilities package
  api/database/index.ts
  api/package-lock.json
  api/package.json
  api/src/api/v1/__tests__/auth_flow.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/volunteer_logs.test.integration.ts
  api/src/api/v1/community_businesses/temporary/password_reset.ts
  api/src/api/v1/users/__tests__/login.test.integration.ts
  api/src/api/v1/users/__tests__/logout.test.integration.ts
  api/src/auth/strategies/external/validate.ts
  api/src/models/age.ts
  api/src/models/cb_admin.ts
  api/src/models/community_business.ts
  api/src/models/user.ts
  api/src/models/visitor.ts
  api/src/models/volunteer_log.ts
  api/src/services/pdf/index.ts
  api/src/services/pdf/templates/__tests__/visitor_qr_code.test.unit.ts
  api/src/services/pdf/templates/visitor_qr_code.ts
  api/src/utils/__tests__/index.test.ts
  api/src/utils/index.ts
  api/tests/utils/data.ts
  api/tests/utils/server.ts
  lerna.json
  lib/tslint-config-twine/README.md
  lib/tslint-config-twine/index.js
  lib/tslint-config-twine/package-lock.json
  lib/tslint-config-twine/package.json
  lib/twine-util/__tests__/objects.test.ts
  lib/twine-util/__tests__/promises.test.ts
  lib/twine-util/__tests__/random.test.ts
  lib/twine-util/__tests__/string.test.ts
  lib/twine-util/file.ts
  lib/twine-util/index.ts
  lib/twine-util/jest.config.js
  lib/twine-util/objects.ts
  lib/twine-util/package-lock.json
  lib/twine-util/package.json
  lib/twine-util/promises.ts
  lib/twine-util/random.ts
  lib/twine-util/string.ts
  lib/twine-util/time.ts
  lib/twine-util/tsconfig.json
  lib/twine-util/url.ts
Labels: ☁️ app: api

#30 ✨ add Error Page
  dashboard-app/src/Error.tsx
  dashboard-app/src/components/Buttons.tsx
Labels: 📊 app: dashboard

#34 🐛 fix mistaken padding refactor
  dashboard-app/src/Error.tsx
Labels: 📊 app: dashboard

#33 ✨ Add data table component
  api/tsconfig.json
  dashboard-app/src/components/Card.tsx
  dashboard-app/src/components/DataTable/DataTableCell.tsx
  dashboard-app/src/components/DataTable/DataTableHeaderRow.tsx
  dashboard-app/src/components/DataTable/DataTableRow.tsx
  dashboard-app/src/components/DataTable/__tests__/index.test.tsx
  dashboard-app/src/components/DataTable/index.tsx
  dashboard-app/src/components/DataTable/types.ts
  dashboard-app/src/components/Headings.tsx
  dashboard-app/src/components/Navbar/index.tsx
  dashboard-app/src/styles/style_guide.ts
  dashboard-app/tsconfig.json
Labels: 📊 app: dashboard

#31 ✨ Utilities package (second attempt)
  .travis.yml
  api/database/index.ts
  api/docs/deployment.md
  api/package-lock.json
  api/package.json
  api/src/api/v1/__tests__/auth_flow.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/volunteer_logs.test.integration.ts
  api/src/api/v1/community_businesses/temporary/password_reset.ts
  api/src/api/v1/users/__tests__/login.test.integration.ts
  api/src/api/v1/users/__tests__/logout.test.integration.ts
  api/src/auth/strategies/external/validate.ts
  api/src/models/age.ts
  api/src/models/cb_admin.ts
  api/src/models/community_business.ts
  api/src/models/user.ts
  api/src/models/visitor.ts
  api/src/models/volunteer_log.ts
  api/src/services/pdf/index.ts
  api/src/services/pdf/templates/__tests__/visitor_qr_code.test.unit.ts
  api/src/services/pdf/templates/visitor_qr_code.ts
  api/src/utils/__tests__/index.test.ts
  api/src/utils/index.ts
  api/tests/utils/data.ts
  api/tests/utils/server.ts
  lerna.json
  lib/tslint-config-twine/README.md
  lib/tslint-config-twine/index.js
  lib/tslint-config-twine/package-lock.json
  lib/tslint-config-twine/package.json
  lib/twine-util/__tests__/objects.test.ts
  lib/twine-util/__tests__/promises.test.ts
  lib/twine-util/__tests__/random.test.ts
  lib/twine-util/__tests__/string.test.ts
  lib/twine-util/file.ts
  lib/twine-util/index.ts
  lib/twine-util/jest.config.js
  lib/twine-util/objects.ts
  lib/twine-util/package-lock.json
  lib/twine-util/package.json
  lib/twine-util/promises.ts
  lib/twine-util/random.ts
  lib/twine-util/string.ts
  lib/twine-util/time.ts
  lib/twine-util/tsconfig.json
  lib/twine-util/url.ts
Labels: ☁️ app: api
