Repository TwinePlatform/twine-monolith, pull requests merged in 2019-08, with the labels that each got.

#244 🐛 Dashboard styling fixes
  dashboard-app/src/features/dashboard/__tests__/util.test.ts
  dashboard-app/src/features/dashboard/components/StackedBarChart/Legend/index.tsx
  dashboard-app/src/features/dashboard/dataManipulation/__tests__/aggregatedToGraphData.test.ts
  dashboard-app/src/features/dashboard/dataManipulation/aggregatedToGraphData.ts
  dashboard-app/src/features/dashboard/util.ts
  dashboard-app/src/lib/ui/design_system/colours.ts
Labels: 📊 app: dashboard

#242 🐛 fix csv time formatting on visitor app
  visitor-app/src/cb_admin/pages/VisitsData.js
Labels: 👣 app: visitor, 🔬 qa: defect [medium]

#247 📜 reporting: grab users instead of only volunteers
  api/reporting/reports/volunteer_logs_raw.ts
Labels: ☁️ app: api

#237 🐛 fix dashboard tile truncation logic
  dashboard-app/src/features/dashboard/Dashboard/__tests__/useDashboardStatistics.test.ts
  dashboard-app/src/features/dashboard/Dashboard/__tests__/util.test.ts
  dashboard-app/src/features/dashboard/Dashboard/useDashboardStatistics.ts
  dashboard-app/src/features/dashboard/Dashboard/util.ts
  dashboard-app/src/features/dashboard/components/DataCard/index.tsx
  dashboard-app/src/features/dashboard/components/DataCard/types.ts
  lib/twine-util/__tests__/arrays.test.ts
  lib/twine-util/__tests__/string.test.ts
  lib/twine-util/arrays.ts
  lib/twine-util/string.ts
Labels: 📊 app: dashboard, 🔬 qa: defect [low]

#250 👀 monitor visitor sign in type
  api/database/index.ts
  api/database/migrations/20190801_track_visitor_sign_in_type.ts
  api/database/migrations/sql/20190801_track_visitor_sign_in_type.sql
  api/src/api/v1/community_businesses/__tests__/visit_logs.test.integration.ts
  api/src/api/v1/community_businesses/temporary/__tests__/delete.test.integration.ts
  api/src/api/v1/community_businesses/visit_logs.ts
  api/src/models/__tests__/community_business.test.integration.ts
  api/src/models/community_business.ts
  api/src/models/types.ts
  visitor-app/src/api/index.js
  visitor-app/src/visitors/pages/SignIn/SignInForm.js
  visitor-app/src/visitors/pages/SignIn/index.js
Labels: ☁️ app: api, 👣 app: visitor

#264 🐛 fix default redis url for dev env
  api/config/config.development.ts
Labels: ☁️ app: api

#256 🕸 add webhook endpoint for heroku releases
  api/config/__tests__/index.test.ts
  api/config/config.defaults.ts
  api/config/config.schema.ts
  api/config/types.ts
  api/docs/configuration.md
  api/src/api/v1/auth.ts
  api/src/auth/index.ts
  api/src/auth/strategies/heroku_webhook/index.ts
  api/src/server.ts
  api/src/services/email/dispatcher.ts
  api/src/services/email/index.ts
  api/src/services/email/templates.ts
  api/src/webhooks/v1/heroku/index.ts
  api/src/webhooks/v1/heroku/onStagingRelease.ts
  api/src/webhooks/v1/index.ts
Labels: ☁️ app: api

#263 Update docs
  README.md
  api/README.md
  api/docs/README.md
  api/docs/configuration.md
  api/docs/getting_started.md
  api/docs/test_data.md
  dashboard-app/README.md
  docs/README.md
  docs/deployment.md
  docs/setup.md
  visitor-app/README.md
  visitor-app/docs/README.md
  visitor-app/docs/dev_notes.md
  visitor-app/docs/dev_setup_guide.md
  visitor-app/docs/testing_guide.md
  visitor-app/docs/user_testing_guide.md
Labels: ☁️ app: api, ✂️ app: temp-admin, 👣 app: visitor, 📊 app: dashboard, 📝 documentation, 🙋‍♀️ app: volunteer

#267 💅 fix styling on webcam element
  visitor-app/src/visitors/pages/SignIn/QrScanner.js
Labels: 👣 app: visitor

#262 ✨ Add FAQs page to Dashboard
  dashboard-app/package-lock.json
  dashboard-app/package.json
  dashboard-app/src/App.tsx
  dashboard-app/src/features/faqs/components/Accordion/index.tsx
  dashboard-app/src/features/faqs/components/Accordion/styles.css
  dashboard-app/src/features/faqs/copy.ts
  dashboard-app/src/features/faqs/index.tsx
  dashboard-app/src/features/navigation/Navbar/index.tsx
  dashboard-app/src/features/navigation/__tests__/pages.test.ts
  dashboard-app/src/features/navigation/pages.ts
  dashboard-app/src/lib/ui/design_system/fonts.ts
Labels: 📊 app: dashboard

#268 🚸 add overlay to graph page when no legend items selected
  dashboard-app/src/features/dashboard/ByTime/TimeTabs.tsx
  dashboard-app/src/features/dashboard/ByVolunteer/VolunteerTabs.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/Chart.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/index.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/utils/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/components/StackedBarChart/utils/util.ts
Labels: 📊 app: dashboard

#270 ♻️ minor faq changes
  dashboard-app/src/features/dashboard/copy/faqs.ts
  dashboard-app/src/features/faqs/components/Accordion/index.tsx
  dashboard-app/src/features/faqs/index.tsx
Labels: 📊 app: dashboard

#271 💬 PO comment: add question mark to FAQ question
  dashboard-app/src/features/dashboard/copy/faqs.ts
Labels: 📊 app: dashboard

#274 💬 graph copy change
  dashboard-app/src/features/dashboard/components/StackedBarChart/index.tsx
Labels: 📊 app: dashboard

#249 🔐 modify external strategy to allow CB access
  api/bin/api_token.ts
  api/database/data/testing/test_09_api_token.seed.ts
  api/docs/README.md
  api/docs/authentication.md
  api/docs/permissions.md
  api/docs/public_api.md
  api/src/api/v1/auth.ts
  api/src/api/v1/community_businesses/__tests__/feedback.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/get.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/visit_activities.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/visit_logs.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/visit_logs_aggregates.test.integration.ts
  api/src/api/v1/community_businesses/feedback.ts
  api/src/api/v1/community_businesses/get.ts
  api/src/api/v1/community_businesses/visit_activities.ts
  api/src/api/v1/community_businesses/visit_logs.ts
  api/src/api/v1/community_businesses/visit_logs_aggregates.ts
  api/src/api/v1/community_businesses/visitors/__tests__/get.test.integration.ts
  api/src/api/v1/community_businesses/visitors/get.ts
  api/src/api/v1/prerequisites/__tests__/get_community_business.test.integration.ts
  api/src/api/v1/prerequisites/get_community_business.ts
  api/src/api/v1/prerequisites/get_organisation.ts
  api/src/api/v1/prerequisites/is_child_organisation.ts
  api/src/api/v1/prerequisites/is_child_user.ts
  api/src/auth/strategies/external/index.ts
  api/src/auth/strategies/external/types.ts
  api/src/auth/strategies/external/validate.ts
  api/src/auth/strategies/standard/credentials.ts
  api/src/auth/strategies/standard/index.ts
  api/src/models/__tests__/apiToken.test.integration.ts
  api/src/models/age.ts
  api/src/models/apiToken.ts
  api/src/models/index.ts
  api/src/models/types.ts
Labels: ☁️ app: api

#275 💅 improve legend functionality
  dashboard-app/src/features/dashboard/components/StackedBarChart/Chart.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/Legend/LegendItem.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/index.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/utils/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/components/StackedBarChart/utils/util.ts
Labels: 📊 app: dashboard

#283 🔧 parallelise tests and only use one build stage
  .travis.yml
  api/package.json
Labels: 🏗 app: infrastructure

#287 🔧 fix default redis address in all envs
  api/config/config.production.ts
  api/config/config.testing.ts
Labels: ☁️ app: api

#290 💬 add new FAQ copy
  dashboard-app/src/features/dashboard/copy/faqs.ts
Labels: 📊 app: dashboard

#289 🔍 add required postcode for visitors registration
  api/src/api/v1/community_businesses/temporary/__tests__/delete.test.integration.ts
  api/src/api/v1/community_businesses/visitors/__tests__/get.test.integration.ts
  api/src/api/v1/community_businesses/visitors/__tests__/put.test.integration.ts
  api/src/api/v1/users/__tests__/put.test.integration.ts
  api/src/api/v1/users/__tests__/roles.test.integration.ts
  api/src/api/v1/users/__tests__/schema.test.unit.ts
  api/src/api/v1/users/register/__tests__/visitors.test.integration.ts
  api/src/api/v1/users/register/visitors.ts
  api/src/api/v1/users/schema.ts
  visitor-app/src/api/index.js
  visitor-app/src/visitors/index.js
  visitor-app/src/visitors/pages/SignUp/index.js
  visitor-app/src/visitors/pages/SignUp/signup_form.js
  visitor-app/src/visitors/pages/__tests__/Signup.test.js
Labels: ☁️ app: api, 👣 app: visitor

#205 ♻️ context demo
  dashboard-app/src/App.tsx
  dashboard-app/src/features/dashboard/ByActivity/index.tsx
  dashboard-app/src/features/dashboard/ByTime/TimeTabs.tsx
  dashboard-app/src/features/dashboard/ByTime/index.tsx
  dashboard-app/src/features/dashboard/ByVolunteer/VolunteerTabs.tsx
  dashboard-app/src/features/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/index.tsx
  dashboard-app/src/features/dashboard/components/Toggle.tsx
  dashboard-app/src/features/dashboard/components/UnitToggle.tsx
  dashboard-app/src/features/dashboard/components/UtilityBar.tsx
Labels: 📊 app: dashboard

#259 🚑 ignore invalid date-strings from synced logs
  api/database/migrations/20190808_create_monitoring_for_ignoring_synced_logs.ts
  api/database/migrations/sql/20190808_create_monitoring_for_ignoring_synced_logs.sql
  api/src/api/v1/community_businesses/__tests__/volunteer_logs.test.integration.ts
  api/src/api/v1/community_businesses/volunteer_logs.ts
  api/src/auth/scopes/__tests__/index.test.ts
  api/src/auth/scopes/index.ts
  api/src/models/types.ts
  api/src/models/volunteer_log.ts
  lib/twine-util/__tests__/promises.test.ts
  lib/twine-util/promises.ts
Labels: ☁️ app: api, 🙋‍♀️ app: volunteer

#292 🐛 fix userId bug in volunteer app sync
  volunteer-app/www/js/app.js
Labels: 🙋‍♀️ app: volunteer

#293 ♻️ remaining volunteer app UX fixes
  volunteer-app/package.json
  volunteer-app/www/js/controllers/edit-log-controller.js
  volunteer-app/www/js/controllers/new-log-controller.js
  volunteer-app/www/js/controllers/settings-controller.js
  volunteer-app/www/js/services/api-service.js
  volunteer-app/www/js/services/utilities-service.js
  volunteer-app/www/templates/new-volunteer.html
  volunteer-app/www/templates/register.html
Labels: 🙋‍♀️ app: volunteer
