Repository TwinePlatform/twine-monolith, pull requests merged in 2019-07, with the labels that each got.

#208 ✅ fix test by using mockdate
  dashboard-app/package-lock.json
  dashboard-app/package.json
  dashboard-app/src/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/dashboard/ByVolunteer/__tests__/index.test.ts
Labels: 📊 app: dashboard

#212 ⬆️ upgrade ramda types
  api/package-lock.json
  api/package.json
Labels: ☁️ app: api, 📊 app: dashboard

#215 💅 add min height to polaroid
  dashboard-app/src/features/dashboard/components/Polaroid.tsx
Labels: 📊 app: dashboard

#213 🔬 allow onChangeSortBy to return default sort order to address QA defect
  api/package-lock.json
  api/package.json
  dashboard-app/src/features/dashboard/ByActivity/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/ByActivity/index.tsx
  dashboard-app/src/features/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/ByTime/index.tsx
  dashboard-app/src/features/dashboard/ByVolunteer/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/features/dashboard/components/DataTable/index.tsx
  dashboard-app/src/features/dashboard/components/DataTable/types.ts
Labels: 📊 app: dashboard

#214 💬 update page titles and descriptions
  dashboard-app/src/App.tsx
  dashboard-app/src/features/dashboard/ByActivity/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/ByActivity/index.tsx
  dashboard-app/src/features/dashboard/ByTime/TimeTabs.tsx
  dashboard-app/src/features/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/ByTime/index.tsx
  dashboard-app/src/features/dashboard/ByVolunteer/VolunteerTabs.tsx
  dashboard-app/src/features/dashboard/ByVolunteer/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/features/dashboard/Dashboard/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/Dashboard/index.tsx
  dashboard-app/src/features/dashboard/components/DataTable/index.tsx
  dashboard-app/src/features/dashboard/components/DataTable/types.ts
  dashboard-app/src/features/dashboard/components/StackedBarChart/Chart.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/index.tsx
  dashboard-app/src/features/dashboard/components/Title.tsx
  dashboard-app/src/features/dashboard/copy/titles.ts
  dashboard-app/src/features/dashboard/util.ts
  dashboard-app/src/features/navigation/__tests__/pages.test.ts
  dashboard-app/src/features/navigation/pages.ts
Labels: 📊 app: dashboard

#221 💬 fix subtitle copy
  dashboard-app/src/features/dashboard/copy/titles.ts
Labels: 📊 app: dashboard

#222 📊 Data tiles feature
  api/package-lock.json
  dashboard-app/package-lock.json
  dashboard-app/package.json
  dashboard-app/src/features/dashboard/Dashboard/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/Dashboard/__tests__/util.test.ts
  dashboard-app/src/features/dashboard/Dashboard/index.tsx
  dashboard-app/src/features/dashboard/Dashboard/useDashboardStatistics.ts
  dashboard-app/src/features/dashboard/Dashboard/util.ts
  dashboard-app/src/features/dashboard/components/DataCard/index.tsx
  dashboard-app/src/features/dashboard/components/DataCard/types.ts
  dashboard-app/src/features/dashboard/components/Polaroid.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/utils/__tests__/index.test.ts
  dashboard-app/src/lib/hooks/useAggDataOnRes.ts
  dashboard-app/src/lib/ui/components/Boundaries/BaseErrorBoundary.tsx
  dashboard-app/src/lib/ui/components/Boundaries/LoadingBoundary.tsx
  dashboard-app/src/lib/ui/components/Boundaries/RedirectErrorBoundary.tsx
  dashboard-app/src/lib/ui/components/Boundaries/RedirectHttpErrorBoundary.tsx
  dashboard-app/src/lib/ui/components/Boundaries/RenderErrorBoundary.tsx
  dashboard-app/src/lib/ui/components/Boundaries/ThrowIfError.tsx
  dashboard-app/src/lib/ui/components/Boundaries/index.tsx
  dashboard-app/src/lib/ui/components/Typography.tsx
  dashboard-app/src/lib/ui/design_system/colours.ts
  dashboard-app/src/lib/ui/design_system/fonts.ts
  dashboard-app/src/lib/ui/index.css
  dashboard-app/src/lib/util/routing.ts
  lib/twine-util/__tests__/arrays.test.ts
  lib/twine-util/__tests__/duration.test.ts
  lib/twine-util/__tests__/string.test.ts
  lib/twine-util/arrays.ts
  lib/twine-util/duration.ts
  lib/twine-util/index.ts
  lib/twine-util/package-lock.json
  lib/twine-util/package.json
  lib/twine-util/string.ts
Labels: 📊 app: dashboard

#223 🐛fix csv sorting
  dashboard-app/src/features/dashboard/ByActivity/index.tsx
  dashboard-app/src/features/dashboard/ByTime/TimeTabs.tsx
  dashboard-app/src/features/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/ByTime/index.tsx
  dashboard-app/src/features/dashboard/ByVolunteer/VolunteerTabs.tsx
  dashboard-app/src/features/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/features/dashboard/components/DataTable/__tests__/index.test.tsx
  dashboard-app/src/features/dashboard/components/DataTable/index.tsx
  dashboard-app/src/features/dashboard/components/DataTable/types.ts
  dashboard-app/src/features/dashboard/dataManipulation/__tests__/aggregatedToCsv.test.ts
  dashboard-app/src/features/dashboard/dataManipulation/aggregatedToCsv.ts
  dashboard-app/src/features/dashboard/dataManipulation/downloadCsv.ts
  dashboard-app/src/features/dashboard/hooks/useOrderable.ts
  dashboard-app/src/features/dashboard/util.ts
  lib/twine-util/index.ts
  lib/twine-util/misc.ts
Labels: 📊 app: dashboard

#234 🐛 remove erroneous time shift used for informal testing
  api/bin/clone_db.ts
  dashboard-app/src/features/dashboard/Dashboard/index.tsx
  dashboard-app/src/features/dashboard/Dashboard/useDashboardStatistics.ts
  dashboard-app/src/features/dashboard/copy/titles.ts
Labels: 📊 app: dashboard, 🔬 qa: defect [high]

#243 💅 use native scroll on legend bar
  dashboard-app/src/features/dashboard/components/StackedBarChart/Legend/index.tsx
Labels: 📊 app: dashboard
