Repository TwinePlatform/twine-monolith, pull requests merged in 2019-09, with the labels that each got.

#303 🙄 copy over linting config to api as a quick fix
  api/package-lock.json
  api/package.json
  api/tslint.json
Labels: ☁️ app: api

#269 👀 implement monitoring of user sessions
  api/Procfile
  api/config/config.development.ts
  api/config/config.testing.ts
  api/config/types.ts
  api/database/migrations/20190808_create_user_session_monitoring_table.ts
  api/database/migrations/sql/20190808_create_user_session_monitoring_table.sql
  api/database/redis/configure.ts
  api/docs/sessions.md
  api/package-lock.json
  api/package.json
  api/src/api/v1/__tests__/auth_flow.test.integration.ts
  api/src/api/v1/auth.ts
  api/src/api/v1/hooks/__tests__/on_pre_response.test.integration.ts
  api/src/api/v1/hooks/index.ts
  api/src/api/v1/hooks/on_pre_handler.ts
  api/src/api/v1/hooks/on_pre_response.ts
  api/src/api/v1/types.ts
  api/src/api/v1/users/login.ts
  api/src/api/v1/users/register/visitors.ts
  api/src/auth/schema/session_cookie/index.ts
  api/src/auth/strategies/standard/__tests__/monitoring.test.integration.ts
  api/src/auth/strategies/standard/index.ts
  api/src/auth/strategies/standard/monitoring.ts
  api/src/auth/strategies/standard/session.ts
  api/src/auth/strategies/standard/types.ts
  api/src/auth/strategies/standard/validate.ts
  api/src/models/__tests__/user.test.integration.ts
  api/src/models/__tests__/user_session_record.test.integration.ts
  api/src/models/cb_admin.ts
  api/src/models/types.ts
  api/src/models/user.ts
  api/src/models/user_session_record.ts
  api/src/models/visitor.ts
  api/src/models/volunteer.ts
  api/src/services/logger/__tests__/serializers.test.unit.ts
  api/tests/global_setup.ts
  api/tsconfig.json
  lib/twine-util/package.json
  lib/twine-util/promises.ts
Labels: ☁️ app: api

#299 📜 improve/combine review app scripts
  .heroku/create_review_app.sh
  .heroku/delete_review_app.sh
  .heroku/review_app.sh
Labels: 🏗 app: infrastructure

#307 🚸 display overlay when no data in range
  dashboard-app/src/features/dashboard/components/StackedBarChart/Chart.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/index.tsx
  dashboard-app/src/features/dashboard/dataManipulation/logsToAggregatedData.ts
Labels: 📊 app: dashboard

#314 🐛 fix processing when trying to sync multiple logs stored offline
  volunteer-app/www/js/controllers/new-log-controller.js
Labels: 🙋‍♀️ app: volunteer

#308 🔄 switch tslint for eslint
  api/.eslintignore
  api/.eslintrc
  api/package-lock.json
  api/package.json
  dashboard-app/.eslintignore
  dashboard-app/.eslintrc.json
  dashboard-app/package-lock.json
  dashboard-app/package.json
  dashboard-app/src/features/auth/pages/Login/index.tsx
  dashboard-app/src/features/dashboard/ByActivity/index.tsx
  dashboard-app/src/features/dashboard/ByActivity/useAggregateDataByActivity.ts
  dashboard-app/src/features/dashboard/ByTime/__tests__/datePickerConstraints.test.ts
  dashboard-app/src/features/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/ByTime/index.tsx
  dashboard-app/src/features/dashboard/ByTime/useAggregateDataByTime.ts
  dashboard-app/src/features/dashboard/ByVolunteer/__tests__/datePickerConstraints.test.ts
  dashboard-app/src/features/dashboard/ByVolunteer/index.tsx
  dashboard-app/src/features/dashboard/ByVolunteer/useAggregateDataByVolunteer.ts
  dashboard-app/src/features/dashboard/Dashboard/useDashboardStatistics.ts
  dashboard-app/src/features/dashboard/components/DataTable/index.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/Chart.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/index.tsx
  dashboard-app/src/features/dashboard/components/StackedBarChart/utils/__tests__/util.test.ts
  dashboard-app/src/features/dashboard/components/StackedBarChart/utils/util.ts
  dashboard-app/src/features/dashboard/components/Toggle.tsx
  dashboard-app/src/features/dashboard/components/UtilityBar.tsx
  dashboard-app/src/features/dashboard/dataManipulation/__tests__/logsToAggregatedData.test.ts
  dashboard-app/src/features/dashboard/dataManipulation/aggregatedToGraphData.ts
  dashboard-app/src/features/dashboard/dataManipulation/logsToAggregatedData.ts
  dashboard-app/src/features/dashboard/hooks/useOrderable.ts
  dashboard-app/src/features/navigation/pages.ts
  dashboard-app/src/lib/hooks/useBatchRequest.ts
  dashboard-app/src/lib/hooks/useErrors.ts
  dashboard-app/src/lib/hooks/useResettableState.ts
  dashboard-app/src/lib/ui/components/Select.tsx
  dashboard-app/src/lib/util/months.ts
  dashboard-app/tslint.json
  lib/eslint-config-twine/README.md
  lib/eslint-config-twine/index.js
  lib/eslint-config-twine/package-lock.json
  lib/eslint-config-twine/package.json
Labels: 🏗 app: infrastructure, 📊 app: dashboard

#309 🗜 use Typescript provided Record, Omit types
  api/src/api/v1/schema/request.ts
  api/src/api/v1/types.ts
  api/src/models/community_business.ts
  api/src/models/organisation.ts
  api/src/models/types.ts
  api/src/models/user.ts
  api/src/models/visitor.ts
  api/src/models/volunteer_log.ts
  api/src/types/internal.ts
Labels: ☁️ app: api

#311 ♻️ update usage of fireEvent API
  dashboard-app/src/features/dashboard/ByActivity/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/ByTime/__tests__/index.test.ts
  dashboard-app/src/features/dashboard/ByVolunteer/__tests__/index.test.ts
  visitor-app/src/cb_admin/pages/__tests__/Activities.test.js
  visitor-app/src/cb_admin/pages/__tests__/AnonUser.test.js
  visitor-app/src/cb_admin/pages/__tests__/ConfirmPassword.test.js
  visitor-app/src/cb_admin/pages/__tests__/Dashboard.test.js
  visitor-app/src/cb_admin/pages/__tests__/Feedback.test.js
  visitor-app/src/cb_admin/pages/__tests__/ForgotPassword.test.js
  visitor-app/src/cb_admin/pages/__tests__/Login.test.js
  visitor-app/src/cb_admin/pages/__tests__/ResetPassword.test.js
  visitor-app/src/cb_admin/pages/__tests__/Settings.test.js
  visitor-app/src/cb_admin/pages/__tests__/Visitor.test.js
  visitor-app/src/cb_admin/pages/__tests__/VisitorDetails.test.js
  visitor-app/src/visitors/pages/__tests__/Login.test.js
  visitor-app/src/visitors/pages/__tests__/Signup.test.js
  visitor-app/src/visitors/pages/__tests__/homeVisitor.test.js
Labels: 👣 app: visitor

#310 ♻️ refactor volunteer-logs sync handler
  api/src/api/v1/community_businesses/__tests__/volunteer_logs.test.integration.ts
  api/src/api/v1/community_businesses/volunteer_logs.ts
  api/src/api/v1/types.ts
  api/src/models/types.ts
  api/src/models/volunteer_log.ts
  api/src/types/internal.ts
Labels: ☁️ app: api

#315 📝 fix links in documentation
  api/docs/public_api.md
  docs/README.md
Labels: ☁️ app: api, 📝 documentation

#317 🐛 fix external API access issues
  api/bin/api_token.ts
  api/src/auth/schema/session_cookie/index.ts
Labels: ☁️ app: api

#316 🦸🏻‍♀️ Minor auth-related renaming
  api/config/config.defaults.ts
  api/src/api/v1/__tests__/utils.ts
  api/src/api/v1/auth.ts
  api/src/api/v1/community_businesses/__tests__/feedback.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/get.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/put.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/register.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/visit_activities.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/visit_logs.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/visit_logs_aggregates.test.integration.ts
  api/src/api/v1/community_businesses/__tests__/volunteer_logs.test.integration.ts
  api/src/api/v1/community_businesses/cb_admins/__tests__/get.test.integration.ts
  api/src/api/v1/community_businesses/temporary/__tests__/delete.test.integration.ts
  api/src/api/v1/community_businesses/temporary/__tests__/get.test.integration.ts
  api/src/api/v1/community_businesses/temporary/__tests__/password_reset.test.integration.ts
  api/src/api/v1/community_businesses/temporary/__tests__/register.test.integration.ts
  api/src/api/v1/community_businesses/visitors/__tests__/email.test.integration.ts
  api/src/api/v1/community_businesses/visitors/__tests__/get.test.integration.ts
  api/src/api/v1/community_businesses/visitors/__tests__/put.test.integration.ts
  api/src/api/v1/community_businesses/volunteers/__tests__/get.test.integration.ts
  api/src/api/v1/community_businesses/volunteers/__tests__/projects.test.integration.ts
  api/src/api/v1/user_logs/__tests__/visit_logs.test.integration.ts
  api/src/api/v1/user_logs/__tests__/volunteer_logs.test.integration.ts
  api/src/api/v1/users/__tests__/get.test.integration.ts
  api/src/api/v1/users/__tests__/put.test.integration.ts
  api/src/api/v1/users/__tests__/roles.test.integration.ts
  api/src/api/v1/users/register/__tests__/visitors.test.integration.ts
  api/src/api/v1/users/register/__tests__/volunteers.test.integration.ts
  api/src/api/v1/users/visitors/__tests__/search.test.integration.ts
  api/src/api/v1/users/volunteers/__tests__/delete.test.integration.ts
  api/src/api/v1/users/volunteers/__tests__/get.test.integration.ts
  api/src/api/v1/users/volunteers/__tests__/put.test.integration.ts
  api/src/api/v1/users/volunteers/__tests__/volunteer_logs.test.integration.ts
  api/src/auth/strategies/standard/__tests__/monitoring.test.integration.ts
  api/src/auth/strategies/standard/credentials.ts
  api/src/auth/strategies/standard/index.ts
  api/src/auth/strategies/standard/monitoring.ts
  api/src/auth/strategies/standard/types.ts
  api/src/auth/strategies/standard/validate.ts
  lib/twine-util/objects.ts
Labels: ☁️ app: api

#304 🚸 disable signup button when request is pending
  visitor-app/src/auth/PrivateRoute.js
  visitor-app/src/cb_admin/components/QrBox.js
  visitor-app/src/cb_admin/pages/Visitor.js
  visitor-app/src/confirm_role/pages/ConfirmRole.js
  visitor-app/src/shared/components/form/base.js
  visitor-app/src/util.js
  visitor-app/src/visitors/pages/SignUp/SignUpForm/SideCopy.js
  visitor-app/src/visitors/pages/SignUp/SignUpForm/buttons.js
  visitor-app/src/visitors/pages/SignUp/SignUpForm/index.js
  visitor-app/src/visitors/pages/SignUp/index.js
Labels: 👣 app: visitor

#312 💬 remove sms-checkbox and minor formatting
  visitor-app/src/visitors/pages/SignUp/SignUpForm/SideCopy.js
  visitor-app/src/visitors/pages/SignUp/SignUpForm/index.js
Labels: 👣 app: visitor

#330 👷🏻‍♀️ Travis configuration
  .travis.yml
  .travis/cc-report.sh
Labels: 🏗 app: infrastructure

#322 🗜 Consolidate + export API types
  api/src/api/v1/community_businesses/cb_admins/get.ts
  api/src/api/v1/community_businesses/feedback.ts
  api/src/api/v1/community_businesses/get.ts
  api/src/api/v1/community_businesses/put.ts
  api/src/api/v1/community_businesses/register.ts
  api/src/api/v1/community_businesses/temporary/delete.ts
  api/src/api/v1/community_businesses/temporary/get.ts
  api/src/api/v1/community_businesses/temporary/password_reset.ts
  api/src/api/v1/community_businesses/temporary/register.ts
  api/src/api/v1/community_businesses/visit_activities.ts
  api/src/api/v1/community_businesses/visit_logs.ts
  api/src/api/v1/community_businesses/visit_logs_aggregates.ts
  api/src/api/v1/community_businesses/visitors/email.ts
  api/src/api/v1/community_businesses/visitors/get.ts
  api/src/api/v1/community_businesses/visitors/put.ts
  api/src/api/v1/community_businesses/volunteer_logs.ts
  api/src/api/v1/community_businesses/volunteers/get.ts
  api/src/api/v1/community_businesses/volunteers/projects.ts
  api/src/api/v1/prerequisites/get_community_business.ts
  api/src/api/v1/prerequisites/get_organisation.ts
  api/src/api/v1/prerequisites/is_child_organisation.ts
  api/src/api/v1/prerequisites/is_child_user.ts
  api/src/api/v1/prerequisites/is_parent_organisation.ts
  api/src/api/v1/prerequisites/require_sibling_user.ts
  api/src/api/v1/schema/request.ts
  api/src/api/v1/types.ts
  api/src/api/v1/types/api.ts
  api/src/api/v1/user_logs/visit_logs.ts
  api/src/api/v1/user_logs/volunteer_logs.ts
  api/src/api/v1/users/get.ts
  api/src/api/v1/users/login.ts
  api/src/api/v1/users/logout.ts
  api/src/api/v1/users/password.ts
  api/src/api/v1/users/put.ts
  api/src/api/v1/users/register/confirm.ts
  api/src/api/v1/users/register/visitors.ts
  api/src/api/v1/users/register/volunteers.ts
  api/src/api/v1/users/roles.ts
  api/src/api/v1/users/schema.ts
  api/src/api/v1/users/visitors/search.ts
  api/src/api/v1/users/volunteers/delete.ts
  api/src/api/v1/users/volunteers/get.ts
  api/src/api/v1/users/volunteers/put.ts
  api/src/api/v1/users/volunteers/volunteer_logs.ts
  api/src/api/v1/utils.ts
  api/src/types/internal.ts
  dashboard-app/package-lock.json
  dashboard-app/src/lib/api/index.ts
  lib/eslint-config-twine/index.js
Labels: ☁️ app: api, 📊 app: dashboard
